name: Add instance to uptimerobot

on:
  issues:
    types: [opened]

jobs:

  replycomment:

    runs-on: ubuntu-latest
    permissions: write-all
    steps:
      - uses: actions/checkout@v3
        if: contains(github.event.issue.labels.*.name, 'instance add')
      - uses: actions/setup-node@v3
        if: contains(github.event.issue.labels.*.name, 'instance add')
        with:
          node-version: 16
      - uses: actions/github-script@v6
        if: contains(github.event.issue.labels.*.name, 'instance add')
        with:
          script: |
            var replyComment = 
              ['Please consider joining our Matrix room for public instance maintainers by joining our Matrix room: https://matrix.to/#/#searxng:matrix.org',
              'then pinging @ unixfox, @ dalf and @ mrpaulblack for asking to be invited to the Matrix room.',
              'We discuss troubles managing a public instance, sharing some advices (like how to protect against bots), announcing big changes in searxng and more.'
              ].join('\n');

            await github.rest.issues.createComment({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body: replyComment
            })
